{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ nama_aplikasi }}</title>
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
</head>
<body>
    <div class="hero">
        <div class="hero-text">
            <small>DIBUAT OLEH: {{ nama }} | NPM: {{ npm }}</small>
            <h1>Welcome to {{ nama_aplikasi }}</h1>
            <p>Temukan perlengkapan olahraga terbaik khusus untuk <br>penggemar Barcelona! #VivaBarca</p>
            <a href="#produk" class="btn">Belanja Sekarang</a>
        </div>
    </div>

    <div class="categories">
        <span>Sepatu</span>
        <span>Pakaian</span>
        <span>Bola</span>
        <span>Aksesoris</span>
    </div>
    <a href="{% url 'main:create_product' %}">
    <button>+ Add Product</button>
    </a>

    <hr>
    {% if not product_list %}
        <p>Belum ada produk di {{ nama_aplikasi }}.</p>
    {% else %}
    
    {% for product in product_list %}
        <div>
            <h2>
                <a href="{% url 'main:show_product' product.id %}">
                    {{ product.name }}
                </a>
            </h2>

            <p><b>{{ product.get_category_display }}</b>
            {% if product.is_featured %} | <b>Featured</b>{% endif %}</p>

            {% if product.thumbnail %}
                <img src="{{ product.thumbnail }}" alt="thumbnail" width="150" height="100">
                <br />
            {% endif %}

            <p>{{ product.description|truncatewords:25 }}...</p>

            <p><a href="{% url 'main:show_product' product.id %}">
                <button>Detail</button>
            </a></p>
        </div>

        <hr>
        {% endfor %}
    {% endif %}

</body>
</html>
